html, body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

// FIX FIREFOX flexbox
@-moz-document url-prefix() {
 #flexible-content{
      flex: 1;
    }
}
.main_body {
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;

}

md-content {
  background: white;
  //border: 1px solid #e1e1e1;
}

// anything with 'class="gray-bg"'
.gray-bg {
  background: #f6f6f6;
}

// md-whiteframe-z*
// set color to white
div[class*='md-whiteframe-z'] {
  background: #FFFFFF;
  margin: 18px;
}

// LABELS
.notification-label {
  position:absolute;
  right:0px;
  font-size:70%;
}

// ALL BUTTONS
.md-button {
  text-transform: none;
}
.md-raised md-button {
  text-transform: none;
}
.md-primary md-button {
  text-transform: none;
}
.md-button.square {
  min-width: 42px;
  padding: 0 6px 0 6px;
  margin: 6px 8px 6px 8px;
}


.md-tab {
  background: white;
  color: #010101;
  text-transform: none;
}

md-content md-tabs {
  background: #f6f6f6;
  border: 1px solid #e1e1e1; }
  md-content md-tabs md-tab-content {
    background: white; }
  md-content md-tabs md-tabs-wrapper {
    background: white; }
    md-content h1:first-child {
      margin-top: 0; }


// CARDS
md-card.md-dark {
  background-color: #2F2F2F;
  color: #F4F4F4;
}

// TOAST
md-toast.md-success-toast-theme {
    background-color: #67E54E;//green;
}
md-toast.md-error-toast-theme {
    background-color: #FF922B;
}
md-toast.md-info-toast-theme {
    background-color: #55BEFF;
}

.header-card {
  background-image : url("images/banner_blue-lines-diag_light.jpg");
  background-color: #cccccc;
  color:#FFFFFF;
  height:150px;
  background-size: 1080px;
}

.profile-card {
  height:150px;
  background-size: 300px;
  //background-image : url("images/profile_card_grey_sq.jpg");
  background-image : url("images/mnts-nature.jpg");
  background-color: #cccccc;
  color:#FFFFFF;

}

// Used to display FA icons with Material
md-icon.fa {
  display:block;
  padding-left:0px;
}

/**
md-toast.md-THEME_NAME-theme {
  background-color: #323232;
  color: '{{background-50}}';

  .md-button {
    color: '{{background-50}}';
    &.md-highlight {
      color: '{{primary-A200}}';
      &.md-accent {
        color: '{{accent-A200}}';
      }
      &.md-warn {
        color: '{{warn-A200}}';
      }
    }
  }
}*/

// not sure this does anything
// supposed to fix "first selected item highlight" on notifs drop-downs
  md-divider {
    margin-top: 10px;
    margin-bottom: 10px; }
  md-list-item.notifications > p,
  .notifications md-list-item > .md-list-item-inner > p,
  .notifications md-list-item .md-list-item-inner > p,
  .notifications md-list-item .md-list-item-inner > .md-list-item-inner > p {
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */ }
  .listdemoListControls .secondary-button-padding p {
    padding-right: 100px; }




@import "navbar.import.less";
@import "sidemenu.import.less";
@import "carousel.import.less";
@import "timeline.import.less";
@import "maps.import.less";
@import "breadcrumbs.import.less";
// DEMOS
@import "demos/buttons.import.less";
@import "demos/tabs.import.less";
@import "demos/progressbar.import.less";
@import "demos/form_elements.import.less";
@import "demos/fontawesome.import.less";

//@import "toast-themes.import.less";
