html, body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

// FIX FIREFOX flexbox
@-moz-document url-prefix() {
 #flexible-content{
      flex: 1;
    }
}
.main_body {
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}

// TOAST
md-toast.md-success-toast-theme {
    background-color: lightgreen;//green;
}
md-toast.md-error-toast-theme {
    background-color: red;
}
md-toast.md-info-toast-theme {
    background-color: blue;
}


.md-button {
  text-transform: none;
}
md-tabs {
  background: #f6f6f6;
  color:inherit;
}
.md-tab {
  color: #010101;
  text-transform: none;
}

// CARDS
md-card.md-dark {
  background-color: #2F2F2F;
  color: #F4F4F4;
}

// DIALOG
.dialogdemoBasicUsage #popupContainer {
  position: relative; }
.dialogdemoBasicUsage .footer {
  width: 100%;
  text-align: center;
  margin-left: 20px; }
.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
  font-size: 0.8em;
  margin-top: 50px; }




@import "navbar.import.less";
@import "sidemenu.import.less";
@import "carousel.import.less";
// DEMOS
@import "buttons.import.less";
@import "tabs.import.less";
@import "progressbar.import.less";
@import "form_elements.import.less";
