<md-sidenav flex layout="column" class="md-sidenav-left md-whiteframe-z1" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
  <div role="navigation" layout="column" flex>
    <!-- PROFILE CARD -->
    <md-content class="profile-card md-padding">
      <md-list>

        <md-list-item class="md-3-line">
          <img src="images/avatars/businessman.png" class="md-avatar" />
          <div class="md-list-item-text" layout="column">
            <h3 class="md-title"> <a ui-sref="core.dashboard.home"> Obiwan Kenobi </a> </h3>
            <h4>Web Developer</h4>
            <p>Raleigh, NC</p>
          </div>
        </md-list-item>
      </md-list>
    </md-content>

    <!-- SIDEMENU -->
    <ul class="side-menu">
      <li ng-repeat="section in vm.menu.sections" class="parent-list-item"
          ng-class="{'parentActive' : vm.isSectionSelected(section)}">
        <h2 class="menu-heading" ng-if="section.type === 'heading'" id="heading_{{ section.name | nospace }}">
          {{section}}
        </h2>
        <menu-link section="section" ng-if="section.type === 'link'"></menu-link>
        <menu-toggle section="section" ng-if="section.type === 'toggle'"></menu-toggle>
      </li>
    </ul>
  </div>
</md-sidenav>
