<md-card class="md-{{colour}}">
  <md-card-title>
    <md-card-title-media>
      <div class="md-media-sm card-media">
        <i flex class="{{icon}} fa-3x"></i>
      </div>
    </md-card-title-media>
    <md-card-title-text>
      <span class="md-headline">{{title}}</span>
      <span class="md-subhead">{{comments}}</span>
    </md-card-title-text>
  </md-card-title>
  <!--
    <md-card-actions layout="row" layout-align="end center">
      <md-button>Action 1</md-button>
      <md-button>Action 2</md-button>
    </md-card-actions>
  -->
</md-card>
