  <!-- SIDEBAR -->
  <md-sidenav flex layout="column" class="md-sidenav-left md-whiteframe-z1" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
    <div role="navigation" layout="column" flex>
      <!-- PROFILE CARD -->
      <md-content class="profile-card md-padding">
        <md-list>

          <md-list-item class="md-3-line">
            <img src="images/avatars/businessman.png" class="md-avatar" />
            <div class="md-list-item-text" layout="column">
              <h3 class="md-title"> <a ui-sref="core.home"> Joel Stenquist </a> </h3>
              <h4>Web Developer</h4>
              <p>Apex, NC</p>
            </div>
          </md-list-item>
        </md-list>
      </md-content>

      <!-- SIDEMENU -->
      <ul class="side-menu">
        <li ng-repeat="section in vm.menu.sections" class="parent-list-item"
            ng-class="{'parentActive' : vm.isSectionSelected(section)}">
          <h2 class="menu-heading" ng-if="section.type === 'heading'" id="heading_{{ section.name | nospace }}">
            {{section}}
          </h2>
          <menu-link section="section" ng-if="section.type === 'link'"></menu-link>
          <menu-toggle section="section" ng-if="section.type === 'toggle'"></menu-toggle>
        </li>
      </ul>
    </div>
  </md-sidenav>

  <!-- MAIN CONTENT -->
  <div layout="column" flex>
    <!-- TOOLBAR / HEADER -->
    <md-toolbar layout="row" class="md-toolbar-tools" ng-controller="ToolbarCtrl" ng-show="!search.show">
      <!-- TOGGLE SIDEMENU -->
      <md-button ng-click="toggleLeft()" aria-label="menu" class="md-icon-button" hide-gt-sm >
          <md-icon md-font-set="material-icons">menu</md-icon>
      </md-button>
      <!-- TOP TOOLBAR -->
      <!-- Left side -->
      <h1 class="md-title"> {{page.SITENAME}} </h1>
      <span flex ><!-- MAKE RIGHT-ALIGNED --></span>
      <md-button class="square" aria-label="Search" ng-click="search.show = !search.show">
        <md-icon md-font-set="material-icons">search</md-icon>
      </md-button>
      <div ng-show="$root.currentUser">
        <md-button class="square" aria-label="dashboard" ui-sref="core.dashboard">
          <md-icon md-font-set="material-icons">dashboard</md-icon>
          <md-tooltip md-direction="down">Dashboard</md-tooltip>
        </md-button>
      </div>
      <!-- Right side -->
      <md-menu md-position-mode="target-right target" >
        <!-- OPEN MENU BTN -->
          <md-button class="square" aria-label="Open messages menu" ng-click="$mdOpenMenu($event)">
            <md-icon md-font-set="material-icons"> email </md-icon>
            <div class="label label-danger notification-label">3</div>
          </md-button>
          <md-menu-content width="3">
            <md-list class="notifications" ng-cloak >
              <md-list-item>
                  <h4>Messages </h4>
                  <span flex> <!-- right align --> </span>
                  <md-icon md-font-set="material-icons"> question_answer</md-icon>
              </md-list-item >
              <md-list-item class="md-2-line" ng-repeat="m in messages" ng-click="goToNotification(m.user, $event)">
                <img alt="person" ng-src="{{m.avatar}}" class="md-avatar" />
                <div class="md-list-item-text">
                  <h3>{{m.user}}</h3>
                  <p>{{m.text}}</p>
                </div>
              </md-list-item>
            </md-list>
          </md-menu-content>
      </md-menu>
      <md-menu md-position-mode="target-right target" >
        <!-- OPEN MENU BTN -->
        <md-button class="square" aria-label="Open messages menu" ng-click="$mdOpenMenu($event)">
          <md-icon md-font-set="material-icons"> notifications </md-icon>
          <div class="label label-danger notification-label">11</div>
        </md-button>
          <md-menu-content width="4">
            <md-list class="notifications" ng-cloak >
              <md-list-item>
                  <h4>Notifications</h4>
                  <span flex> <!-- right align --> </span>
                  <md-icon md-font-set="material-icons"> done_all</md-icon>
              </md-list-item >
              <md-list-item class="md-2-line" ng-repeat="n in notifications" ng-click="goToNotification(n.text, $event)">
                <md-icon  aria-label="n.icon" class="{{n.icon}}"></md-icon>
                <div class="md-list-item-text">
                  <h3>{{n.title}}</h3>
                  <p>{{n.text}}</p>
                </div>
              </md-list-item>
            </md-list>
          </md-menu-content>

      </md-menu>
      <md-menu md-menu-origin md-position-mode="target-right target" >
          <!-- OPEN MENU BTN -->
          <md-button class="square" aria-label="Open more menu" ng-click="$mdOpenMenu($event)">
            <md-icon md-font-set="material-icons"> more_vert </md-icon>
          </md-button>
          <md-menu-content width="3">
            <!-- NOT AUTHENTICATED -->
            <div ng-hide="$root.currentUser">
              <!-- LOGIN -->
              <md-menu-item>
                <md-button ui-sref="core.login" >Login
                </md-button>
              </md-menu-item>
              <!-- REGISTER -->
              <md-menu-item>
                <md-button ui-sref="core.register">Sign up</md-button>
              </md-menu-item>
            </div>

            <!-- AUTHENTICATED -->
            <div ng-show="$root.currentUser">
              <md-menu-item>
                <md-button ui-sref="core.dashboard.profile" >Profile </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ui-sref="core.logout" >Logout</md-button>
              </md-menu-item>
            </div>
          </md-menu-content>
      </md-menu>
    </md-toolbar>
    <!-- SEARCH toolbar-->
    <md-toolbar layout="row" class="md-toolbar-tools" ng-show="search.show" >
        <md-button class="square" ng-click="search.show = !search.show" aria-label="Back">
            <md-icon md-font-set="material-icons">arrow_back</md-icon>
        </md-button>
        <input flex ng-model="search.who" placeholder="Enter in search..." type="text" class="form-control" id="search">
        <md-button class="square" aria-label="Search" ng-click="search.show = !search.show">
          <md-icon md-font-set="material-icons">search</md-icon>
        </md-button>
        <md-button  class="square" aria-label="Open Settings" ng-click="showListBottomSheet($event)">
            <md-icon md-font-set="material-icons">more_vert</md-icon>
        </md-button>
    </md-toolbar>

    <!-- MAIN CONTENT -->
    <md-content class="gray-bg" flex>
      <!-- HEADER CARD -->
      <div class="header-card md-padding" >
        <h1 class="page-header" ng-bind="page.title"> </h1>
        <ncy-breadcrumb ncy-breadcrumb-text-separator=' > '></ncy-breadcrumb>
      </div>

      <!-- UI CONTENT VIEW -->
      <ui-view layout="column"  > </ui-view >

      <!-- FOOTER -->
      <div class="gray-bg" layout="column" layout-align="end center">
        <md-divider flex></md-divider>
        <div flex>
          Home | Dashboard | Contact Us | Careers | Terms of Service | Support
        </div>
      </div>
    </md-content>
  </div>
