  <!-- SIDEBAR -->
  <md-sidenav flex layout="column" class="md-sidenav-left md-whiteframe-z1" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
    <div role="navigation" layout="column" flex>
      <!-- PROFILE CARD -->
      <md-content class="profile-card md-padding">
        <md-list>

          <md-list-item class="md-3-line">
            <img src="images/businessman.png" class="md-avatar" />
            <div class="md-list-item-text" layout="column">
              <h3 class="md-title"> <a ui-sref="core.home"> Joel Stenquist </a> </h3>
              <h4>Web Developer</h4>
              <p>Apex, NC</p>
            </div>
          </md-list-item>
        </md-list>
      </md-content>

      <!-- SIDEMENU -->
      <ul class="side-menu">
        <li ng-repeat="section in vm.menu.sections" class="parent-list-item"
            ng-class="{'parentActive' : vm.isSectionSelected(section)}">
          <h2 class="menu-heading" ng-if="section.type === 'heading'" id="heading_{{ section.name | nospace }}">
            {{section}}
          </h2>
          <menu-link section="section" ng-if="section.type === 'link'"></menu-link>
          <menu-toggle section="section" ng-if="section.type === 'toggle'"></menu-toggle>
        </li>
      </ul>
    </div>
  </md-sidenav>

  <!-- MAIN CONTENT -->
  <div layout="column" flex>
    <!-- HEADER -->
    <md-toolbar layout="row" class="md-toolbar-tools"> <!-- layout="row" layout-align="start center" layout-padding -->
        <!-- TOGGLE SIDEMENU -->
        <md-button ng-click="toggleLeft()" aria-label="menu" class="md-icon-button" hide-gt-sm >
            <md-icon md-font-set="material-icons">menu</md-icon>
        </md-button>
        <!-- TOP TOOLBAR -->
        <h1 class="md-title"> {{page.SITENAME}} </h1>
        <span flex ><!-- MAKE RIGHT-ALIGNED --></span>
        <div ng-show="$root.currentUser">
          <md-button class="md-icon-button" aria-label="dashboard" ui-sref="core.dashboard">
            <md-icon md-font-set="material-icons">dashboard</md-icon>
            <md-tooltip md-direction="down">Dashboard</md-tooltip>
          </md-button>
        </div>
        <md-menu md-position-mode="target-right target" >
          <!-- OPEN MENU BTN -->
            <md-button  aria-label="Open messages menu" ng-click="$mdOpenMenu($event)">
              <!-- <md-icon md-menu-origin md-svg-icon="img/icons/more_vert.svg"></md-icon> -->
              <md-icon md-font-set="material-icons"> email </md-icon>
            </md-button>
            <md-menu-content width="3">
              <md-menu-item>
                <md-button >M1 </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button>M2</md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button>M3</md-button>
              </md-menu-item>
            </md-menu-content>
        </md-menu>
        <md-menu md-position-mode="target-right target" >
          <!-- OPEN MENU BTN -->
            <md-button  class="md-icon-button" aria-label="Open notifications menu" ng-click="$mdOpenMenu($event)">
              <!-- <md-icon md-menu-origin md-svg-icon="img/icons/more_vert.svg"></md-icon> -->
              <md-icon md-font-set="material-icons"> notifications </md-icon>
            </md-button>
            <md-menu-content width="3">
              <md-menu-item>
                <md-button >N1 </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button>N2</md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button>N3</md-button>
              </md-menu-item>
            </md-menu-content>
        </md-menu>
        <md-menu md-menu-origin md-position-mode="target-right target" >
          <!-- OPEN MENU BTN -->
            <md-button  class="md-icon-button" aria-label="Open more menu" ng-click="$mdOpenMenu($event)">
              <!-- <md-icon md-menu-origin md-svg-icon="img/icons/more_vert.svg"></md-icon> -->
              <md-icon md-font-set="material-icons"> more_vert </md-icon>
            </md-button>

            <md-menu-content width="3">
              <!-- NOT AUTHENTICATED -->
              <div ng-hide="$root.currentUser">
                <!-- LOGIN -->
                <md-menu-item>
                  <md-button ui-sref="core.login" >Login
                    <!-- <md-icon md-menu-align-target md-svg-icon="img/icons/more_vert.svg"></md-icon>Login-->
                  </md-button>
                </md-menu-item>
                <!-- REGISTER -->
                <md-menu-item>
                  <md-button ui-sref="core.register">Sign up</md-button>
                </md-menu-item>
              </div>

              <!-- AUTHENTICATED -->
              <div ng-show="$root.currentUser">
                <md-menu-item>
                  <md-button ui-sref="core.dashboard.profile" >Profile </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ui-sref="core.logout" >Logout</md-button>
                </md-menu-item>
              </div>
            </md-menu-content>
        </md-menu>
    </md-toolbar>

    <!-- MAIN CONTENT -->
    <md-content class="gray-bg" flex>
      <!-- HEADER CARD -->
      <div class="header-card md-padding" >
        <h1 class="page-header" ng-bind="page.title"> </h1>
        <ncy-breadcrumb ncy-breadcrumb-text-separator=' > '></ncy-breadcrumb>
      </div>

      <!-- UI CONTENT VIEW -->
      <ui-view layout="column"  > </ui-view >

      <!-- FOOTER -->
      <div class="gray-bg" layout="column" layout-align="end center">
        <md-divider flex></md-divider>
        <div flex>
          Home | Dashboard | Contact Us | Careers | Terms of Service | Support
        </div>
      </div>
    </md-content>
  </div>
