<div class="md-whiteframe-z2 panel-{{colour}}">
    <div class="panel-heading">
      <div class="row">
          <div class="col-xs-3">
              <i class="{{icon}} fa-4x"></i>
          </div>
          <div class="col-xs-9 text-right">
              <h1 class="md-display-1">{{title}}</h1>
              <span class="md-subhead">{{comments}}</span>
          </div>
      </div>
    </div>
    <a href="#">
        <div class="panel-footer">
            <span class="pull-left">View Details</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
        </div>
    </a>
</div>
