
  <div ng-cloak>
      <md-tabs md-selected="currentTab" md-stretch-tabs="always" md-align-tabs="top" >
        <md-tab ng-click="goToTab(currentTab)">
          <md-tab-label>Profile</md-tab-label>
        </md-tab>
        <md-tab ng-click="goToTab(currentTab)">
          <md-tab-label>My Teams</md-tab-label>
        </md-tab>
        <md-tab ng-click="goToTab(currentTab)">
          <md-tab-label>My Times</md-tab-label>
        </md-tab>
     </md-tabs>

     <div class="md-padding">
         <ui-view id="content" flex> </ui-view>
     </div>

  </div>
