<div class="md-padding">
  <p> Dynamic tables are created with ng-repeat; as such, they can be updated from the DOM with new changes automatically!</p>
  <div class="md-padding md-whiteframe-z2" ng-cloak>

    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th ng-repeat="header in headers">
            {{header}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="x in contacts">
          <td>{{ x.id }}</td>
          <td>{{ x.name }}</td>
          <td>{{ x.email }}</td>
          <td>{{ x.phone}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
