<div layout="column" layout-align="start stretch">
  <h2 flex class="md-display-1 color-light-blue-500"> Thank You! </h2>
  <div flex class="md-whiteframe-z2 md-padding" layout="column" ng-hide="searched">
    <span flex class="md-subhead">Enjoy your new premium subscription service. Your card was accepted. Please check your email for further instructions. </span>
    <p></p>
    <p></p>
    <span flex class="md-headline"> Receipt </span>
    <div flex layout="column" class="panel md-padding">
      <table class="table table-striped table-hover" >
        <thead><td> <span class="md-subhead"> Your Profile </span></td> </thead>
        <tr ng-repeat="(key, value) in user">
          <td>{{key}} </td> <td><code> {{ value }} </code></td>
        </tr>
      </table>
      <p > &nbsp; </p>
      <table class="table table-striped table-hover">
        <thead><td> <span class="md-subhead"> Card Data </span></td> </thead>
        <tr ng-repeat="(key, value) in card">
          <td>{{key}} </td> <td><code> {{ value }} </code></td>
        </tr>
      </table>
    </div>
    <br/>

    <div flex class="alert alert-danger" ng-show="message">
        {{message}}
    </div>
    <div flex ng-show="loading">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    <div ng-if="searched">
      <h2> Results </h2>

    </div>

    <div flex layout="column"  layout-align="space-around center">
      <div flex ng-hide="searched">
        <md-button type="submit" class="md-raised md-accent">Launch</md-button>
      </div>
      <md-button class="md-raised" ui-sref="core.forms.wizard.profile" ng-click="exploreAgain()" aria-label="back"> Explore Again! </md-button>
    </div>
  </div>
</div>
