<div layout="column" layout-align="space-around center">
    <div flex>
        <p class="label">
          <md-icon md-svg-icon="content:ic_gender_24px"></md-icon>Gender
        </p>
        <md-radio-group ng-model="formData.gender">
          <md-radio-button class="blue" ng-value="g" ng-repeat="g in genders">{{ g }}</md-radio-button>
        </md-radio-group>

    </div>

    <md-input-container flex>
        <label><md-icon md-svg-icon="content:ic_distance_24px"></md-icon>State
        </label>
        <md-select ng-model="formData.state">
            <md-option ng-value="state" ng-repeat="state in states">{{ state }}</md-option>
        </md-select>
    </md-input-container>

</div>

<div layout="column" layout-align="space-around center">
    <md-button flex class="md-raised md-primary" ui-sref="core.explorer.search" aria-label="next"> Next </md-button>
    <md-button flex class="md-raised" ui-sref="core.explorer.times" aria-label="next"> Back </md-button>
</div>
