<!-- TOOLBAR / HEADER -->
<md-toolbar layout="row" class="md-toolbar-tools" ng-show="!search.show">
  <!-- TOGGLE SIDEMENU -->
  <md-button ng-click="toggleLeft()" aria-label="menu" class="md-icon-button" hide-gt-md >
      <md-icon md-font-set="material-icons">menu</md-icon>
  </md-button>
  <!-- TOP TOOLBAR -->
  <!-- Left side -->
  <h1 class="md-title"> {{page.SITENAME}} </h1>
  <span flex ><!-- MAKE RIGHT-ALIGNED --></span>
  <md-button class="square" aria-label="Search" ng-click="search.show = !search.show">
    <md-icon md-font-set="material-icons">search</md-icon>
  </md-button>
  <div ng-show="$root.currentUser">
    <md-button class="square" aria-label="dashboard" ui-sref="core.dashboard" hide-sm>
      <md-icon md-font-set="material-icons">dashboard</md-icon>
      <md-tooltip md-direction="down">Dashboard</md-tooltip>
    </md-button>
  </div>
  <!-- Right side -->
  <md-menu md-menu-origin md-position-mode="target-right target" >
      <!-- OPEN MENU BTN -->
      <md-button class="square" aria-label="Open more menu" ng-click="$mdOpenMenu($event)">
        <md-icon md-font-set="material-icons"> more_vert </md-icon>
      </md-button>
      <md-menu-content width="3">
        <!-- NOT AUTHENTICATED -->
        <div ng-hide="$root.currentUser">
          <!-- LOGIN -->
          <md-menu-item>
            <md-button ui-sref="login" ><md-icon md-font-set="material-icons"> chevron_right </md-icon> Login
            </md-button>
          </md-menu-item>
          <!-- REGISTER -->
          <md-menu-item>
            <md-button ui-sref="core.register"><md-icon md-font-set="material-icons"> assignment_ind </md-icon> Register </md-button>
          </md-menu-item>
        </div>

        <!-- AUTHENTICATED -->
        <div ng-show="$root.currentUser">
          <md-menu-item>
            <md-button ui-sref="core.dashboard.profile"><md-icon md-font-set="material-icons"> person </md-icon> Profile </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ui-sref="core.dashboard.profile"><md-icon md-font-set="material-icons"> settings </md-icon> Settings </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ui-sref="core.logout" ><md-icon md-font-set="material-icons"> chevron_left </md-icon> Logout</md-button>
          </md-menu-item>
        </div>
      </md-menu-content>
  </md-menu>
</md-toolbar>
