// MATERIAL COLORS
@import "colors.less";

// PRIMARY
@md-primary-hue-1: @md-blue-grey-700;
@md-primary-hue-2: @md-blue-grey-800;
@md-primary-hue-3: @md-blue-grey-900;
@md-primary:       @md-primary-hue-1; // default

// ACCENT
@md-accent-hue-1: @md-light-blue-500;
@md-accent-hue-2: @md-light-blue-600;
@md-accent-hue-3: @md-light-blue-700;
@md-accent:       @md-accent-hue-1; //default

// WARNING
@md-warn-hue-1: @md-yellow-500;
@md-warn-hue-2: @md-yellow-600;
@md-warn-hue-3: @md-yellow-700;
@md-warn:       @md-warn-hue-1; // default

// SUCCESS
@md-success-hue-1: @md-green-500;
@md-success-hue-2: @md-green-600;
@md-success-hue-3: @md-green-700;
@md-success:       @md-success-hue-1; // default

// INFO
@md-info-hue-1: @md-accent-hue-1;
@md-info-hue-2: @md-accent-hue-2;
@md-info-hue-3: @md-accent-hue-3;
@md-info:       @md-info-hue-1;

// ERROR
@md-error: @md-red-600;
