// MATERIAL COLORS
@import "colors.less";

// PRIMARY
@md-primary: @md-blue-grey-700;
@md-primary-hue-1: @md-primary;
@md-primary-hue-2: @md-blue-grey-800;
@md-primary-hue-3: @md-blue-grey-900;

// ACCENT
@md-accent: @md-light-blue-500;
@md-accent-hue-1: @md-accent;
@md-accent-hue-2: @md-light-blue-600;
@md-accent-hue-3: @md-light-blue-700;

// WARNING
@md-warn: @md-yellow-500;
@md-warn-hue-1: @md-warn;
@md-warn-hue-2: @md-yellow-600;
@md-warn-hue-3: @md-yellow-700;

// SUCCESS
@md-success: @md-green-600;

// INFO
@md-info: @md-accent;

// ERROR
@md-error: @md-red-600;
