<div layout="row">
    <md-card flex>
      <md-card-content>
        <h2 class="md-title">Card Title</h2>
        <p>
          The titles of Washed Out's breakthrough song and the first single from Paracosm share the
          two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
        </p>
      </md-card-content>
      <md-divider></md-divider>
      <md-card-footer>
        Footer
      </md-card-footer>
    </md-card>
    <br/>
    <md-card class="md-dark" flex>
      <md-card-content>
        <h2 class="md-title">Card Title</h2>
        <p>
          The titles of Washed Out's breakthrough song and the first single from Paracosm share the
          two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
        </p>
      </md-card-content>
      <md-divider></md-divider>
      <md-card-actions layout="row" layout-align="start center">
        <md-button>Action 1</md-button>
        <md-button>Action 2</md-button>
      </md-card-actions>
    </md-card>
    <br/>

    <br/>
</div>
    <md-card flex >
      <img src="images/sunset.jpg" class="md-card-image" alt="Sunset">
      <md-card-content>
        <h2 class="md-title">Sunset</h2>
        <p>
          The sunset in this area is beautiful when it truly shows its' beaming colors of red, green, orange, purple, nurple.
          Now, get back to work!!
        </p>
      </md-card-content>
      <md-divider></md-divider>
      <md-card-actions layout="row" layout-align="start center">
        <md-button>Back</md-button>
        <md-button class="md-primary">Next</md-button>
      </md-card-actions>
    </md-card>
