<div layout-gt-sm="row" layout="column"  layout-align="center start" layout-wrap>
  <div flex layout="column" layout-align="center start">
    <div flex layout="row">
      <!--<widget-stat flex number="6" comments="New comments!" colour="primary" type="comments"></widget-stat>-->
      <widget-stat flex title="Build Success!" comments="1923 tests passed" colour="success" icon="fa fa-graduation-cap"></widget-stat>
      <widget-stat flex title="Ready" comments="10/10 servers connected" colour="info" icon="fa fa-thumbs-up"></widget-stat>
    </div>
    <div flex layout="row">
      <widget-stat flex title="Build failed" comments="Syntax error on line 12" colour="danger" icon="fa fa-minus-square"></widget-stat>
      <widget-stat flex title="Building..." comments="3 builds are running" colour="warning" icon="fa fa-link"></widget-stat>
    </div>
  </div>

  <md-card flex>
    <md-card-header>
      <md-card-header-text>
        <span class="md-title"> Management Portal </span>
        <span class="md-subhead"> Database control system </span>
      </md-card-header-text>
    </md-card-header>
    <img ng-src="images/cards/micro_chip.jpg" class="md-card-image" alt="Micro chip">
    <md-card-title>
      <md-card-title-text>
        <span class="md-subhead">Control builds from this page</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-actions layout="row" layout-align="start center">
      <md-card-icon-actions>
        <md-button class="md-icon-button" aria-label="new">
          <md-tooltip >Start new build</md-tooltip>
          <md-icon md-font-set="material-icons">create_new_folder </md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="cancel">
          <md-tooltip >Cancel current build</md-tooltip>
          <md-icon md-svg-icon="md-cancel"></md-icon>
        </md-button>
      </md-card-icon-actions>
    </md-card-actions>
  </md-card>
</div>
<br/>

<!-- START widget-->
<div layout-gt-sm="row" layout="column" layout-wrap>
  <md-card flex>
    <md-card-header>
      <md-card-avatar>
        <img class="md-user-avatar" src="images/avatars/supportfemale.svg"/>
      </md-card-avatar>
      <md-card-header-text>
        <span class="md-title"> Jane Smith</span>
        <span class="md-subhead"> Customer Support </span>
      </md-card-header-text>
    </md-card-header>
    <img ng-src="images/cards/mac_keyboard.jpg" class="md-card-image" alt="mac keyboard">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Online Support</span>
        <span class="md-subhead">Our agents are available 24/7</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-actions layout="row" layout-align="start center">
      <md-card-icon-actions>
        <md-button class="md-icon-button" aria-label="call">
          <md-icon md-font-set="material-icons">call </md-icon>
          <md-tooltip >Call customer support</md-tooltip>
        </md-button>
        <md-button class="md-icon-button" aria-label="chat">
          <md-icon md-font-set="material-icons">chat </md-icon>
          <md-tooltip >IM customer support</md-tooltip>
        </md-button>
        <md-button class="md-icon-button" aria-label="email">
          <md-icon md-font-set="material-icons">email </md-icon>
          <md-tooltip >Send an email</md-tooltip>
        </md-button>
        <md-button class="md-icon-button" aria-label="toggle">
          <md-icon md-svg-icon="md-toggle-arrow"></md-icon>
        </md-button>
      </md-card-icon-actions>
    </md-card-actions>
  </md-card>
  <div flex layout="column">
    <md-card flex>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Card with  text</span>
          <span class="md-subhead">Medium</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
          <p>
            The titles of Washed Out's breakthrough song and the first single from Paracosm share the
            two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
          </p>
        </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <md-button>Action 1</md-button>
        <md-button>Action 2</md-button>
      </md-card-actions>
    </md-card>
    <md-card flex>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Card with text</span>
          <span class="md-subhead">Medium</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
          <p>
            The titles of Washed Out's breakthrough song and the first single from Paracosm share the
            two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
          </p>
        </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <md-button>Action 1</md-button>
        <md-button>Action 2</md-button>
      </md-card-actions>
    </md-card>
  </div>
</div>


<!-- TASKS -->
<h1 class="md-headline">Progress &amp; Tasks </h1>
<div flex layout-gt-sm="row" layout="column">
  <div flex layout="column" >
    <widget-task flex title="Bandwidth" stat="71 / 400 GB" comments="Used this month" icon="fa-cab" type="info" number="17"> </widget-task>
    <widget-task flex title="Q1 Revenue" stat="$ 631,021 / $ 1,000,000" comments="Profit goal progress this quarter" icon="fa-dollar" type="success" number="63"> </widget-task>
  </div>
  <div flex layout="column" >
    <widget-task flex title="Research" comments="Progress on research of new technology" icon="fa-circle-o-notch fa-spin" type="info" number="44"> </widget-task>
    <widget-task flex title="Disk Space" stat="375 / 400 GB" comments="Web space utilized" icon="fa-folder-o" type="danger" number="94"> </widget-task>
  </div>
</div>
